.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.table td,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.table tr:hover {
  background-color: #ddd;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4c7365;
  color: white;
}
a {
  padding-left: 80px;
}

/* logout button */
.logout {
  background-color: DodgerBlue;
  /* border: none; */
  color: white;
  padding: 0 30px;
  font-size: 30px;
  cursor: pointer;
}
.logout:hover {
  background-color: RoyalBlue;
}
.container{
  margin-left: 150px;
}
.sidebar.close ~ .container  {
  width: 100%;
  left: 0;
}